*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

body{
min-height: 100vh;
max-width: 100%;
display: flex;
justify-content: center;
align-items: center;
background:burlywood;
}
.calculator{
    padding: 15px;
    box-shadow: 0 0 15px #000;
    border:2px solid rgb(116,114 ,114);
    border-radius: 15px;
}
.display input{

    width: 360px;
    border: none;
    outline: none;
    padding: 20px;
    margin: 10px;
    background: transparent;
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    
}
input::placeholder{
    color:white;
}
button{
    width: 70px;
    height: 70px;
    margin:10px;
    background: transparent;
    font-size: 22px;
    font-weight: 600;
    border-radius:50%;
    box-shadow: -5px -6px 15px black;
    outline:1px solid black;
    outline-offset: 3px;
    cursor: pointer;
}
button:active{
    background: black;
    transform: translate(2px,2px);
}
.opr{
    color: red;
    font-weight:700;
}
#eqBtn{
    background-color: aqua;
    font-weight: 900;
}